.small {
    display: none;
}

.big {
    display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {

    color: rgb(12, 20, 117);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: rgb(12, 20, 117);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(12, 20, 117);
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    background-color: rgb(12, 20, 117);
    color: white;
    display: block;
}

#f11 {
    color: white;
    font-family: Poppins;
    font-size: 1.2em;
    float: left;
    margin-left: 30%;
    text-align: center;
}

#f12 {
    color: white;
    font-family: Poppins;
    font-size: 1.2em;
    float: right;
    margin-right: 30%;
    text-align: center;
}

#f21 {
    float: left;
    margin-left: 45%;
    padding: 0.2em;
}

#f22 {
    float: right;
    margin-right: 45%;
    padding: 0.2em;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: right;
}

.logo {
    float: left;
}

li a {
    display: block;
    color: rgb(12, 20, 117);
    font-family: 'Poppins';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(11, 18, 88);
}

.main {
    margin-top: 30px;
    /* height: 1500px; */
    /* Used in this example to enable scrolling */
}

body {

    align-items: center;
    justify-content: center;
}


html {
    scroll-behavior: smooth;

}

.parent1 {
    position: relative;
    top: 0;
    left: 0;
}

.child1 {
    position: absolute;
    top: 580px;
    left: 80px;
}

.container {
    position: relative;
    width: 100%;

}

.container img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;

}

.container .btn {
    background-image: url("Employers.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 48%;
    left: 51%;
    width: 10%;
    height: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
    color: rgb(44, 13, 13);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: rgb(255, 239, 239);
}

.zoomin img {

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zoomin img:hover {
    scale: 1.05;

}

.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;
    font-size: 16;
    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);

    background-color: rgb(35, 49, 135);
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover,
.btn:focus {
    background-color: rgb(29, 40, 112);
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.btn2 {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;
    font-size: 16;
    overflow: hidden;

    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);

    background-color: rgb(255, 255, 255);
    color: rgb(29, 40, 112);

    transition: background-color .3s;
}

.btn2:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 40, 112);
}

.btn2 > * {
    position: relative;
}

.btn2 span {
    display: block;
    padding: 12px 24px;
}

.btn2:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn2:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.blue {
    width: 100%;
    overflow: auto;
    background-color: rgb(12, 20, 117);
    align-content: space-around;
}

.p2s1 {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    float: left;
}

.p2s2 {
    margin-top: 100px;
    width: 50%;
    float: right;

}

.p2s3 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p2s4 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p2s5 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p4s0 {
    text-align: center;
    color: rgb(99, 180, 250);
    font-family: Poppins;
    font-size: 30;
    margin-bottom: 30px;

}

.p4s1 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p4s2 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s3 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s4 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p4s5 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s6 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p5sa {
    display: none;
}

.p5sb {
    display: none;
}

.p5sc {
    display: none;
}

.p5s0 {
    text-align: center;
    color: rgb(12, 20, 117);
    font-family: Poppins;
    font-size: 30;
    margin-bottom: 30px;
    margin-top: 30px;

}

.p5p1 {
    width: 100%;
    overflow: auto;
}

.p5p2 {
    width: 100%;
    overflow: auto;
}

.p5s1 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s2 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s3 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s4 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s5 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s6 {
    margin-top: 200px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s7 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s8 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p6sx {
    width: 100%;
    overflow: auto;
}

.p6sy {
    width: 100%;
    overflow: auto;
}

.p6s1 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p6s2 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s3 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s4 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p6s5 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s6 {
    margin-right: 10%;
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s7 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.p6p1 {
    width: 100%;
    overflow: auto;
}

.p6s8 {
    margin-top: 100px;
    width: 40%;
    margin-left: 10%;
    float: left;
}

.p6s9 {
    margin-top: 100px;
    width: 40%;
    float: left;
}

.p6p2 {
    width: 100%;
    overflow: auto;
}

.p6s10 {
    width: 40%;
    margin-left: 10%;
    float: left;
}

.p6s11 {
    width: 40%;
    float: left;
}

.p6sm {
    display: none;
}

.p7p0 {
    display: block;
}

.p7p1 {
    display: none;
}

.side {
    display: none
}

.phone {
    display: none
}

#pg8 {
    background-color: rgba(12, 20, 117, 1);
}

/*    Hiring Normal*/
.hiring {
    font-family: "Poppins";
    background-color: rgba(12, 20, 117, 1);
    /* max-width: 75%; */
    width: 100vw;
    /* margin: 0 auto; */
    height: auto;
    padding: 3rem 7rem;
}

.hiring-header {
    text-align: center;
}

.tab-content-text {
    width: 50%;
    float: left;
    padding-top: 2vh;
}

.tab-content-image {
    width: 50%;
    float: right;
}

.tab-content-image > img {
    width: 90%;
    height: 25vh;
}

.hiring-images {
    margin: 2rem 0;
    height: 30%;
    width: 30%;
}

.tabs {
    position: relative;
    margin: 3rem 0 3rem 0;
    height: auto;

}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
    width: 25%;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 1.5rem;
    height: 14rem;
    /* padding: 0 1.618em; */
    background: rgb(35, 49, 135);
    color: #fff;
    cursor: pointer;
    top: 0;
    text-align: center;
    font-size: 1.2em;
    /* left:1rem;
              right:1rem; */
    transition: all 0.25s;
    margin: 0.5rem;
}

.tab-label:hover {
    top: -0.5vh;
    transition: all 0.25s;
    border-top: 0.5rem solid #fff;
}

.tab-content {
    height: auto;
    position: absolute;
    z-index: 1;
    top: 15rem;
    left: 0;
    right: 0;
    padding: 1.618rem;
    background: rgb(35, 49, 135);
    color: #fff;
    opacity: 0;
    /* transition: all 5s; */
    margin: 0 0.5rem;
    display: none;
}

.sizecheck {
    height: auto;
    position: relative;
    top: 15rem;
    left: 0;
    right: 0;
    padding: 1.618rem;
    /* transition: all 5s; */
    margin: 0 0.5rem;

    z-index: -1;
    visibility: hidden;
}

.tab-switch:checked + .tab-label {
    height: 33vh;
    border-top: 0.5rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    /* top: -0.0625rem; */
}

.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    display: block;
    /* transition: all 0.35s; */
}

#interview > div {
    background-color: rgb(12, 20, 117);
    padding: 1%;
    margin: 1%;
    text-align: left;
    border-radius: 1rem;

}

.interview-1 {
    margin: auto;
    padding: 1vh;
    color: rgb(97, 180, 250);
    font-weight: bolder;
    font-size: larger;
}

.interview-2 {
    margin: auto;
    padding: 1vh;
}

#openpos {

    overflow: auto;
}

#openpos > div {
    background-color: rgb(12, 20, 117);
    padding: 1%;
    /* height: 18vh; */
    font-size: 1vw;
    margin: 1%;
    text-align: left;
    border-radius: 1rem;
    position: relative;
}

.OPAnchor {
    text-decoration: none;
    font-size: 1em;
}

.OPName {
    /* font-size: 1.2em; */
    font-weight: bold;
    padding: 1vh;
    color: rgb(99, 180, 250);
    width: 65%;

}

.OPSpec {
    padding: 1vh;
}

.OPDesc {
    padding: 1vh;
}

.OpDate {
    padding: 1vh;
}

.OPApply {
    position: absolute;
    right: 5%;
    top: 7%;
    height: 3.5em;
    width: 12em;
    border-radius: 1em;
    background-color: rgb(99, 180, 250);
    font-weight: bold;
    z-index: 2;
    border-color: black;
    border-width: thick;

}

#opportunities {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.opportunities-1 {

    background-color: rgb(12, 20, 117);
    padding: 1%;
    height: 7vh;
    font-size: 1em;
    margin: 1%;
    text-align: center;
    border-radius: 1rem;
    width: 45%;

}

.opps-1 {
    line-height: 3vh;
    width: 48%;
    padding: 1%;
    float: left;
}

.opps-2 {
    line-height: 3vh;
    width: 52%;
    padding: 1%;
    float: right;
    font-size: smaller;
    color: rgb(99, 180, 250);
}

/* APPLY FORM */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 3px solid #f1f1f1;
    z-index: 15;
    height: 80vh;
    width: 80%;
    /* overflow: auto; */
    font-size: 15px;
}

.JobTitleA {
    font-size: 2em;
}

/* Add styles to the form container */
.form-container {
    max-width: 100%;
    padding: 3%;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/*    COntat Us*/
#Contact {
    background-color: rgb(12, 20, 117);
    justify-content: center;
    font-size: 15px;
}

/* #Contact > div {
            display:inline-block;
          } */
form {
    top: 1vh;
    /* position: relative; */
    margin: 0;
    background-color: rgba(12, 20, 117, 1);
    font-family: Poppins;
    font-size: 1em;
}

#Contact_Us {
    /* position: relative; */
    left: 40vw;
    top: 8vh;
    width: 100vw;
    white-space: nowrap;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    color: rgba(242, 242, 242, 1);
}

.ContactForm {
    /* position: relative; */
    /* padding-top: 12vh; */
    width: 85%;
    margin: auto;
}

#Requirement_type {
    position: relative;
    left: 2vw;
    overflow: visible;
    white-space: nowrap;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    color: rgba(242, 242, 242, 1);
}

.RbtnAll {
    display: flex;
    flex-wrap: wrap;
}

.RBtn {
    margin: 2vw;
}

.RadioButtons {
    top: -2vh;
    position: relative;
    overflow: visible;
    white-space: nowrap;
    /* padding-top: 0.5em;
              padding-bottom: 0.5em; */
    padding-left: 3em;
    padding-right: 3vw;
    /* text-align: left; */
    /* font-family: Poppins;
              font-style: normal;
              font-weight: normal; */
    font-size: 1.3em;
    color: rgba(99, 180, 250, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.RadioButtons input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.Radio {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    height: 2em;
    width: 2em;
    background-color: #eee;
    border-radius: 100%;
}

.RadioButtons:hover input ~ .Radio {
    background-color: #ccc;
}

.RadioButtons input:checked ~ .Radio {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.Radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.RadioButtons input:checked ~ .Radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.RadioButtons .Radio:after {
    top: 0.5em;
    left: 0.5em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: white;
}

.textinput {
    position: relative;
    padding-left: 1vw;
    /* margin-right: 5vw; */
    height: 3em;
    /* margin-left: 1vw; */
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    color: white;
    border: 0px;

    background-color: rgba(35, 49, 135, 1);
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    font-family: Poppins;
    position: relative;
    z-index: 8;
}

.textbox {

    display: grid;
    margin-top: -0.5vh;
    margin-right: 3vw;
}


.textName {
    /* margin-left: 2.5vw; */
    overflow: visible;
    width: 10vw;
    white-space: nowrap;
    padding: 1rem 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    color: rgba(242, 242, 242, 1);
}

.Details {
    padding: 1.5em;
}

#Details1,
#Details2,
#Details3,
#Details4 {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;

}

#Details1 > div,
#Details2 > div,
#Details3 > div,
#Details4 > div {
    flex: auto;
    /* margin: 2vw; */
}

.submit {

    margin: auto;
    border: 0.1em;
    padding: 0.1em;
    height: 2em;
    width: 9em;
    background-color: white;
    border-radius: 0.5em;
    color: rgba(12, 20, 117, 1);
    font-size: 1.5em;

}

.Submitbtn {

    /* margin: 1%;
              display: flex;
              right: 0;
              justify-content: flex-end; */
    padding: 3vw;
    float: right;


}

@media only screen and (max-width: 900px) {
    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .p5sa {
        display: block;
        margin-left: 10%;
        width: 80%;

    }

    .p5sb {
        color: rgb(12, 20, 117);
        font-family: Poppins;
        font-size: 18;
        margin-left: 10%;
        width: 80%;
        display: block;
    }

    .p5sc {
        color: rgb(97, 180, 250);
        font-family: Poppins;
        font-size: 18;
        margin-top: 30px;
        margin-left: 10%;
        width: 80%;
        display: block;
    }

    .side {
        display: block;

        margin: 6px 8px 6px 8px;

        border-radius: 3px;
        font-size: 14px;

        border: none;
        outline: none;

    }

    .phone {
        display: block
    }

    .big {
        display: none;
    }

    .blue {
        width: 100%;
        overflow: auto;
        background-color: rgb(12, 20, 117);
        align-content: space-around;
        font: poppins
    }



    .p2s1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .p2s2 {
        width: 100%;

    }

    .p2s3 {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;

    }

    .p2s4 {

        margin-left: 20%;
        margin-right: 20%;
        width: 60%;


    }

    .p2s5 {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;


    }

    .p4s0 {
        text-align: center;
        color: rgb(99, 180, 250);
        font-family: Poppins;
        font-size: 15;
        margin-bottom: 30px;

    }

    .p4s1 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s2 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s3 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s4 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s5 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s6 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .btn {
        width: 40%;
        font-size: 14;
    }

    .p5sx {
        display: none;
    }

    .p5s1 {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s2 {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s3 {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 5%;
        width: 100%;
        float: left;
    }

    .p5s4 {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s5 {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s6 {
        margin-top: 0px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s7 {
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s8 {
        margin-left: 0%;
        margin-right: 5%;
        margin-bottom: 10%;
        width: 90%;
        float: left;
    }

    .p6s1 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;

    }

    .p6s2 {
        width: 40%;

        float: left;
        margin-bottom: 30px;

    }

    .p6s3 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;

    }

    .p6sm {
        display: block;
        width: 40%;
        margin-left: 2.5%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s4 {
        display: none;
        width: 40%;
        float: left;
        margin-bottom: 30px;

    }

    .p6s5 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s6 {
        width: 40%;
        margin-right: 0%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s7 {
        width: 100%;
        margin-left: 0px;
        height: auto+10px;
    }

    .p6p1 {
        width: 100%;
        overflow: auto;
    }

    .p6s8 {
        margin-top: 0px;
        width: 80%;
        margin-left: 10%;
        float: left;
    }

    .p6s9 {
        margin-top: 0px;
        width: 80%;
        margin-left: 10%;
        float: left;
        margin-bottom: 50px;
    }

    .p6s10 {
        width: 60%;

        float: left;
    }

    .p6s11 {
        width: 80%;
        margin-left: 10%;
        float: left;
    }

    .p7p0 {
        display: none;
    }

    .p7p1 {
        display: block;

    }

    .p7s1 {
        width: 100%;
        margin-left: 5%;
    }

    .hiring {
        width: 90vw;
        height: auto;
        padding: 0;
        margin: 6vw;
    }

    .hiring-header {
        margin-top: 5em;
    }

    .tab-label {
        height: 15vh;
        font-size: 2vw;
        padding: 1vw;
        margin: 1vw;
    }

    .hiring-images {
        width: 70%;
        height: 10vh;
        margin: auto;
    }

    .tab-content {
        margin: 1vw;
        top: 17.5vh;
        height: auto;
        font-size: 15px;
        padding: 3vw;
    }

    .tab-switch:checked + .tab-label {
        height: 20vh;
        border-top: 0.5vh solid #fff;
        transition: all 0.35s;
        z-index: 1;
        /* top: -0.0625rem; */
    }

    .tab-switch:checked + label + .tab-content {
        z-index: 2;
        opacity: 1;
        transition: top 0.35s;
    }

    .tab-content-image {
        width: 85%;
        height: 50%;
        margin: auto;
        float: none;
    }

    .tab-content-text {
        width: 85%;
        margin: auto;
        float: none;
    }

    #interview > div {
        margin: 3vh 1vh;
    }

    .opportunities-1 {
        font-size: 1em;
        margin: 2%;
        width: 86%;
        height: auto;
        min-height: 7vh;
    }

    #openpos > div {
        font-size: 0.6em;
        margin: 2%;
        width: 90%;
        /* height: 21vh; */
    }

    .OPApply {
        right: 2%;
        top: 2%;
        height: 2.5em;
        width: 7em;
        width: 35%;
    }

    .OPAnchor {
        font-size: 1.5em;
    }

    .opps-1 {
        padding: 2%;
    }

    .opps-2 {
        padding: 5%;
    }

    .RbtnAll {
        display: inline-block;
        flex-wrap: wrap;
    }


    #Contact_Us {
        position: relative;
        left: 25vw;
        top: 0;
        width: 100vw;
        white-space: nowrap;

        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: rgba(242, 242, 242, 1);
    }

    .Submitbtn {
        float: unset;
        margin-top: 3vw;
        text-align: center;
    }

    .Rbtn {
        top: 1vh;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #f11,
    #f12 {
        float: unset;
        margin: auto;
        padding: 1em;
        font-size: 1em;
    }

    #f21,
    #f22 {
        float: unset;
        margin: auto;
        padding: 1em;
        text-align: center;
    }
}
