.small {
    display: none;
}

.img_hover:hover {
	transform: scale(1.05);
}

.big {
    display: block;
}
a{
    text-decoration: none;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {

    color: rgb(12, 20, 117);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: rgb(12, 20, 117);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover {
    background-color: rgb(12, 20, 117);
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    background-color: rgb(12, 20, 117);
    color: white;
    display: block;
}

.dropbtn:hover {
    color: white;
}

.data {
    display: flex;
    justify-content: center;
}

#f11 {
    color: white;
    font-family: Poppins;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#f12 {
    color: white;
    font-family: Poppins;
    text-align: center;
    display: inline-block;
    width: 25%;
}

.f2 {
    display: flex;
    justify-content: center;
}

#f21,#f22 {
    padding: 0.8em;
    width: 6%;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: right;
}

.logo {
    float: left;
}

li a {
    display: block;
    color: rgb(12, 20, 117);
    font-family: 'Poppins';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(11, 18, 88);
}

.main {
    margin-top: 30px;
    /* height: 1500px; */
    /* Used in this example to enable scrolling */
}

body {

    align-items: center;
    justify-content: center;
}


html {
    scroll-behavior: smooth;

}

.parent1 {
    position: relative;
    top: 0;
    left: 0;
}

.child1 {
    position: absolute;
    top: 580px;
    left: 80px;
}

.container {
    position: relative;
    width: 100%;

}

.container img {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;

}

.container .btn {
    background-image: url("Employers.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 48%;
    left: 51%;
    width: 10%;
    height: 27%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
    color: rgb(44, 13, 13);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: rgb(255, 239, 239);
}

.zoomin img {

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zoomin img:hover {
    scale: 1.05;

}

.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;
    font-size: 16;
    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);

    background-color: rgb(35, 49, 135);
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover,
.btn:focus {
    background-color: rgb(29, 40, 112);
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.btn2 {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;
    font-size: 16;
    overflow: hidden;

    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);

    background-color: rgb(255, 255, 255);
    color: rgb(29, 40, 112);

    transition: background-color .3s;
}

.btn2:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 40, 112);
}

.btn2 > * {
    position: relative;
}

.btn2 span {
    display: block;
    padding: 12px 24px;
}

.btn2:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn2:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.blue {
    width: 100%;
    overflow: auto;
    background-color: rgb(12, 20, 117);
    align-content: space-around;
}

.p2s1 {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    float: left;
}

.p2s2 {
    margin-top: 100px;
    width: 50%;
    float: right;

}

.p2s3 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p2s4 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p2s5 {
    margin-left: 6.25%;
    width: 25%;
    float: left;

}

.p4s0 {
    text-align: center;
    color: rgb(99, 180, 250);
    font-family: Poppins;
    font-size: 30;
    margin-bottom: 30px;

}

.p4s1 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p4s2 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s3 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s4 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p4s5 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p4s6 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p5sa {
    display: none;
}

.p5sb {
    display: none;
}

.p5sc {
    display: none;
}

.p5s0 {
    text-align: center;
    color: rgb(12, 20, 117);
    font-family: Poppins;
    font-size: 30;
    margin-bottom: 30px;
    margin-top: 30px;

}

.p5p1 {
    width: 100%;
    overflow: auto;
}

.p5p2 {
    width: 100%;
    overflow: auto;
}

.p5s1 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s2 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s3 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s4 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s5 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s6 {
    margin-top: 200px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p5s7 {
    margin-top: 40px;
    margin-left: 10%;
    width: 40%;
    float: left;
}

.p5s8 {
    margin-top: 40px;
    margin-right: 10%;
    width: 40%;
    float: left;
}

.p6sx {
    width: 100%;
    overflow: auto;
}

.p6sy {
    width: 100%;
    overflow: auto;
}

.p6s1 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p6s2 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s3 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s4 {
    width: 25%;
    margin-left: 10%;
    float: left;
    margin-bottom: 30px;
}

.p6s5 {
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s6 {
    margin-right: 10%;
    width: 25%;
    margin-left: 2.5%;
    float: left;
    margin-bottom: 30px;
}

.p6s7 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.p6p1 {
    width: 100%;
    overflow: auto;
}

.p6s8 {
    margin-top: 100px;
    width: 40%;
    margin-left: 10%;
    float: left;
}

.p6s9 {
    margin-top: 100px;
    width: 40%;
    float: left;
}

.p6p2 {
    width: 100%;
    overflow: auto;
}

.p6s10 {
    width: 40%;
    margin-left: 10%;
    float: left;
}

.p6s11 {
    width: 40%;
    float: left;
}

.p6sm {
    display: none;
}

.p7p0 {
    display: block;
}

.p7p1 {
    display: none;
}

.side {
    display: none
}

.phone {
    display: none
}

#pg8 {
 
    position: relative;
}

/*    Hiring Normal*/

#interview > div {
    background-color: white;
    padding: 1%;
    margin: 1%;
    text-align: left;
    border-radius: 1rem;
    color: rgb(12, 20, 117);
}

.interview-1 {
    margin: auto;
    padding: 0.3vh;
    color: rgb(97, 180, 250);
    font-weight: bolder;
    font-size: larger;
}

.interview-2 {
    margin: auto;
    padding: 0.3vh;
}

#openpos {

    overflow: auto;
}

#openpos > div {
    background-color: white;
    padding: 1%;
    /* height: 18vh; */
    font-size: 13px;
    margin: 1%;
    text-align: left;
    border-radius: 1rem;
    position: relative;
    color:rgb(12, 20, 117);
}

.OPName {
    /* font-size: 1.2em; */
    font-weight: bold;
    padding: 0.4vh;
    color: rgb(99, 180, 250);
    width: 65%;

}

.OPSpec {
    padding: 0.4vh;
}

.OPDesc {
    padding: 0.4vh;
}

.OpDate {
    padding: 0.4vh;
}

.OPApply {
    position: absolute;
    right: 5%;
    top: 7%;
     height: 3em;
    width: 12em;
    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    background-color: rgb(35, 49, 135);
    color: #ecf0f1;
    transition: background-color .3s;
    z-index: 2;
    cursor: pointer;
}

.OPApply:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 40, 112);
}

.OPApply:active {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 40, 112);

}

#opportunities {

    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opportunities-1 {

    background-color: white;
    padding: 1%;
    min-height: 7vh;
    font-size: 1em;
    margin: 1%;
    border-radius: 1rem;
    width: 45%;
    position: relative;
    color:rgb(12, 20, 117);
}

.opps-1 {
    line-height: 3vh;
    width: 48%;
    padding: 1%;
    float: left;
}

.opps-2 {
    line-height: 3vh;
    width: 52%;
    padding: 1%;
    float: right;
    font-size: smaller;
    color: rgb(99, 180, 250);
}

.opps-2 > button {
    position: absolute;
    right: 2%;
    top: 10%;
}

/* APPLY FORM */

/*    COntat Us*/

#Requirement_type {
    position: relative;
    left: 2vw;
    overflow: visible;
    white-space: nowrap;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    color: rgba(242, 242, 242, 1);
}

.footerlinks {
    height: 3em;
    top: 2vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
}

.footerlinks > div {
    margin: 1%;
}

.footerlinks > div > a {
    text-decoration: none;
}

.footerlinks > div > a:visited {
    color: white;
}

.footerlinks2 > div {
    line-height: 0.3em;
}

@media only screen and (max-width: 900px) {
    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .p5sa {
        display: block;
        margin-left: 10%;
        width: 80%;

    }

    .p5sb {
        color: rgb(12, 20, 117);
        font-family: Poppins;
        font-size: 18;
        margin-left: 10%;
        width: 80%;
        display: block;
    }

    .p5sc {
        color: rgb(97, 180, 250);
        font-family: Poppins;
        font-size: 18;
        margin-top: 30px;
        margin-left: 10%;
        width: 80%;
        display: block;
    }

    .side {
        display: block;

        margin: 6px 8px 6px 8px;

        border-radius: 3px;
        font-size: 14px;

        border: none;
        outline: none;

    }

    .phone {
        display: block
    }

    .big {
        display: none;
    }

    .blue {
        width: 100%;
        overflow: auto;
        background-color: rgb(12, 20, 117);
        align-content: space-around;
        font: poppins
    }



    .p2s1 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .p2s2 {
        width: 100%;

    }

    .p2s3 {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;

    }

    .p2s4 {

        margin-left: 20%;
        margin-right: 20%;
        width: 60%;


    }

    .p2s5 {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;


    }

    .p4s0 {
        text-align: center;
        color: rgb(99, 180, 250);
        font-family: Poppins;
        font-size: 15;
        margin-bottom: 30px;

    }

    .p4s1 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s2 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s3 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s4 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s5 {
        width: 40%;
        margin-left: 9%;
        float: left;
        margin-bottom: 30px;
    }

    .p4s6 {
        width: 40%;
        margin-left: 2%;
        float: left;
        margin-bottom: 30px;
    }

    .btn {
        width: 40%;
        font-size: 14;
    }

    .p5sx {
        display: none;
    }

    .p5s1 {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s2 {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s3 {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 5%;
        width: 100%;
        float: left;
    }

    .p5s4 {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s5 {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s6 {
        margin-top: 0px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s7 {
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        float: left;
    }

    .p5s8 {
        margin-left: 0%;
        margin-right: 5%;
        margin-bottom: 10%;
        width: 90%;
        float: left;
    }

    .p6s1 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;

    }

    .p6s2 {
        width: 40%;

        float: left;
        margin-bottom: 30px;

    }

    .p6s3 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;

    }

    .p6sm {
        display: block;
        width: 40%;
        margin-left: 2.5%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s4 {
        display: none;
        width: 40%;
        float: left;
        margin-bottom: 30px;

    }

    .p6s5 {
        width: 40%;
        margin-left: 10%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s6 {
        width: 40%;
        margin-right: 0%;
        float: left;
        margin-bottom: 30px;
    }

    .p6s7 {
        width: 100%;
        margin-left: 0px;
        height: auto+10px;
    }

    .p6p1 {
        width: 100%;
        overflow: auto;
    }

    .p6s8 {
        margin-top: 0px;
        width: 80%;
        margin-left: 10%;
        float: left;
    }

    .p6s9 {
        margin-top: 0px;
        width: 80%;
        margin-left: 10%;
        float: left;
        margin-bottom: 50px;
    }

    .p6s10 {
        width: 60%;

        float: left;
    }

    .p6s11 {
        width: 80%;
        margin-left: 10%;
        float: left;
    }

    .p7p0 {
        display: none;
    }

    .p7p1 {
        display: block;

    }

    .p7s1 {
        width: 100%;
        margin-left: 5%;
    }

    #interview > div {
        margin: 1vh 1vh;
    }

    .opportunities-1 {
        font-size: 1em;
        margin: 2%;
        width: 86%;
        height: auto;
        min-height: 7vh;
    }

    #openpos > div {
        font-size: 0.7em;
        margin: 2%;
        width: 90%;
        /* height: 21vh; */
    }

    .OPApply {
        right: 2%;
        top: 1%;
        height: 2em;
        width: 7em;
        width: 35%;
    }

    .OPAnchor {
        font-size: 1.5em;
    }

    .opps-1 {
        padding: 4%;
        width: 70%
    }

    .opps-2 {
        padding: 5%;
        width: 30%;
    }

    .opps-2 > button {
        height: 4em;
    }



    #f11,
    #f12 {
        float: unset;
        margin: auto;
        padding-bottom: 1em;
        font-size: 0.8em;
        width: 100%;
    }

    .footerlinks{
        height:2em;
    }
#f21,#f22{
    padding: 0;
    width: 10%;
    margin-top: 0.5em;
}
#f21{
    margin-right: 2%;
}
#f22{
    margin-left: 2%;
}

}
